<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="menu">
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" />
		</form>
		<nav class="navbar navbar-expand-lg bg-primary navbar-primary">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/biblioth.jpg}" width="80px" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar"
				style="background-color: white;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">

					<th:block sec:authorize="hasAuthority('Admin')">
						<li class="nav-item dropdown">
							<a class="nav-link  text-white font-weight-bold dropdown-toggle" data-toggle="dropdown"
								th:href="@{/users}">Utilisateurs</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/users/new}">Créer un nouveau</a>
								<a class="dropdown-item" th:href="@{/users}">Voir tous</a>
							</div>
						</li>
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Cadre')">
						<li class="nav-item dropdown">
							<a class="nav-link text-white font-weight-bold dropdown-toggle" data-toggle="dropdown"
								th:href="@{/filieres}">Filières</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/filieres/new}">Créer une nouvelle</a>
								<a class="dropdown-item" th:href="@{/filieres}">Voir toutes</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-white font-weight-bold dropdown-toggle" data-toggle="dropdown"
								th:href="@{/types}">Types de livres</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/types/new}">Créer un nouveau</a>
								<a class="dropdown-item" th:href="@{/types}">Voir tous</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-white font-weight-bold dropdown-toggle" data-toggle="dropdown"
								th:href="@{/books}">Livres</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/books/new}">Créer un nouveau</a>
								<a class="dropdown-item" th:href="@{/books}">Voir tous</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-white font-weight-bold dropdown-toggle" data-toggle="dropdown"
								th:href="@{/students}">Etudiants</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/students}">Voir tous</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-white font-weight-bold" th:href="@{/emprunts}">Emprunts</a>
						</li>
					</th:block>

					<li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
						<a class="nav-link text-white font-weight-bold dropdown-toggle" th:href="@{/settings}">Paramètres</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/settings#general}">Géneral</a>
							<a class="dropdown-item" th:href="@{/settings#mailServer}">ServeurMail</a>
							<a class="dropdown-item" th:href="@{/settings#mailTemplates}">Mail Templates</a>
							<a class="dropdown-item" th:href="@{/settings#emprunts}">Emprunts</a>
						</div>
					</li>

					<li>
						<span class="fas fa-user fa-2x icon-silver"></span>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" th:href="@{/account}"
							sec:authentication="principal.fullname"></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" id="logoutLink" href="">Logout</a>
						</div>
					</li>
				</ul>
			</div>

		</nav>
	</div>
</body>

</html>