<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Home - ENSPD Books Students', 'none')" />

<body>

	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>

		<div>
			<h1>Livres par Filières</h1>
		</div>

		<div class="row">
			<div class="col" th:each="filiere : ${listFilieres}">
				<div>
					<a th:href="@{'/f/' + ${filiere.alias}}">[[${filiere.name}]]</a>
				</div>
			</div>
		</div>


		<div th:replace="navigation :: footer_menu"></div>

	</div>
</body>

</html>